terraform {
  backend "s3" {
    bucket         = "REPLACE_ME-tfstate"
    key            = "polymarket-copy-bot/dev/terraform.tfstate"
    region         = "us-east-1"
    dynamodb_table = "REPLACE_ME-tflock"
    encrypt        = true
  }
}
